---
- name: Check port nc
  shell: |
    timeout 3 nc -zv {{ host_to_check }} {{ port_to_check }} 2>&1
  register: nc_result
  ignore_errors: yes
  changed_when: false

# --- Detect Status For CVS---
- name: Set status for report
  set_fact:
    tcp_status: >-
      {% if nc_result.rc == 0 %}succeeded
      {% elif nc_result.rc == 1 %}connection refused!
      {% elif nc_result.rc == 124 %}Timeout or no response (Trying...)
      {% else %}unknown_rc_{{ nc_result.rc }}
      {% endif %}

# --- Debug messages ---
- name: Port open
  debug:
    msg: "Source-IP: {{ ansible_host | default(inventory_hostname) }} Destination-IP: {{ host_to_check }}  port {{ port_to_check }}  Status: succeeded ✔️✔️✔️"
  when: nc_result.rc == 0

- name: Port closed
  debug:
    msg: "Source-IP: {{ ansible_host | default(inventory_hostname) }} Destination-IP: {{ host_to_check }}  port {{ port_to_check }}  Status: Connection refused! ❕❕❕"
  when: nc_result.rc == 1

- name: Timeout
  debug:
    msg: "Source-IP: {{ ansible_host | default(inventory_hostname) }} Destination-IP: {{ host_to_check }}  port {{ port_to_check }}  Status: Timeout or no response (Trying...) ❌❌❌"
  when: nc_result.rc == 124


- name: Save real source host IP
  set_fact:
    source_host_ip: "{{ ansible_host | default(inventory_hostname) }}"

# --- Append to CSV report on Runner ---

- name: Append result to CSV report (on GitLab Runner)
  delegate_to: localhost
  throttle: 1
  lineinfile:
    path: "{{ report_path }}"
    create: true
    insertafter: EOF
    line: >-
      {{ lookup('pipe','date -u +%Y-%m-%dT%H:%M:%SZ') }},
      {{ source_host_ip }},
      {{ host_to_check }},
      {{ port_to_check }},
      {{ tcp_status }}

