
---
- name: Set hostname
  hostname:
    name: "{{ hostname }}"
  tags: set_hostname

- name: Add Kubernetes nodes to /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "{{ item.ip }} {{ item.name }}"
    state: present
  loop:
    - { ip: "192.168.0.141", name: "node1" }
    - { ip: "192.168.0.142", name: "node2" }
    - { ip: "192.168.0.143", name: "node3" }
  tags: add_nodes_hosts

- name: Add 127.0.1.1 hostname
  lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.1\.1\s+'
    line: "127.0.1.1 {{ hostname }}"
    state: present
  tags: correct_hosts

- name: Turn off swap 
  command: swapoff -a
  tags: off_swap

- name: Ensure swap is disabled on boot
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^\s*(\S+\s+\S+\s+swap\s+\S+\s+\S+\s+\S+)$'
    replace: '# \1'
  tags: off_swap

- name: Load br_netfilter module
  modprobe:
    name: br_netfilter
    state: present
  tags: kernel_modules

- name: Load overlay module
  modprobe:
    name: overlay
    state: present
  tags: kernel_modules

- name: Ensure br_netfilter and overlay are loaded on boot
  copy:
    dest: /etc/modules-load.d/k8s.conf
    content: |
      br_netfilter
      overlay
    mode: '0644'
  tags: kernel_modules

- name: Ensure net.ipv4.ip_forward is enabled
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    state: present
    reload: yes
  tags: ipv4_forward_enable

- name: Reload all sysctl settings
  command: sysctl --system
  tags: ipv4_forward_enable

    #- name: Install essential packages for Kubernetes
    #apt:
    #name:
    #  - apt-transport-https
    #  - ca-certificates
    #  - curl
    #  - gnupg
    #state: present
    #update_cache: yes
    #tags: install_prerequisites

- name: Copy nerdctl binary files
  copy:
    src: nerdctl
    dest: /usr/local/bin/nerdctl
    mode: '0755'
  tags: copy_nerdctl

- name: Create directory for Kubernetes images
  file:
    path: /var/k8s-images
    state: directory
    mode: '0755'
  tags: cpy_image_to_nodes

- name: Copy Kubernetes image tar files
  copy:
    src: "{{ item }}"
    dest: /var/k8s-images/
    mode: '0644'
  loop:
    - kube-apiserver-v1.33.5.tgz
    - kube-controller-manager-v1.33.5.tgz
    - kube-scheduler-v1.33.5.tgz
    - kube-proxy-0v1.33.5.tgz
    - coredns-coredns-v1.12.0.tgz
    - pause-3.10.tgz
    - etcd-3.5.21-0.tgz
  tags: cpy_image_to_nodes

- name: Load Kubernetes images into containerd
  ansible.builtin.command: nerdctl -n k8s.io load -i /var/k8s-images/{{ item }}
  loop:
    - kube-apiserver-v1.33.5.tgz
    - kube-controller-manager-v1.33.5.tgz
    - kube-scheduler-v1.33.5.tgz
    - kube-proxy-0v1.33.5.tgz
    - coredns-coredns-v1.12.0.tgz
    - pause-3.10.tgz
    - etcd-3.5.21-0.tgz
  register: image_load
  changed_when: "'Loaded image' in image_load.stdout"
  tags: load_images

- name: Enable kubeadm bash completion
  command: kubeadm completion bash
  register: kubeadm_completion
  changed_when: false
  tags: load_images
  tags: completion_bash

- name: Install kubeadm bash completion
  copy:
    content: "{{ kubeadm_completion.stdout }}"
    dest: /etc/bash_completion.d/kubeadm
    mode: '0644'
  tags: completion_bash


- name: Initialize Kubernetes control plane
  command: >
    kubeadm init
    --control-plane-endpoint={{ control_plane_endpoint }}
    --apiserver-advertise-address={{ apiserver_advertise_address }}
    --kubernetes-version={{ kubernetes_version }}
    --pod-network-cidr={{ pod_network_cidr }}
    --upload-certs
    --apiserver-cert-extra-sans=192.168.0.131,node1
  args:
    creates: /etc/kubernetes/admin.conf
  register: kubeadm_init
  when: inventory_hostname == "node1"
  tags: initial_cluster
    #
    #- name: Upload certs and get certificate key
    #  command: kubeadm init phase upload-certs --upload-certs
    #  register: upload_certs_output
    #  when: inventory_hostname == "node1"
    #  tags: initial_cluster
    #
    #- name: Set certificate key fact
    #  set_fact:
    #    kubeadm_certificate_key: "{{ upload_certs_output.stdout_lines[-1] }}"
    #  when: inventory_hostname == "node1"
    #  tags: initial_cluster
    #
    #- name: Generate kubeadm join command
    #  command: kubeadm token create --print-join-command
    #  register: join_cmd
    #  when: inventory_hostname == "node1"
    #  tags: initial_cluster
    #
    #- name: Build control-plane join command
    #  set_fact:
    #    kubeadm_control_plane_join: >-
    #      {{ join_cmd.stdout }}
    #      --control-plane
    #      --certificate-key {{ kubeadm_certificate_key }}
    #  when: inventory_hostname == "node1"
    #  tags: initial_cluster
    #
    #- name: Join node to Kubernetes control plane
    #  command: "{{ hostvars['node1'].kubeadm_control_plane_join }}"
    #  args:
    #    creates: /etc/kubernetes/kubelet.conf
    #  when: inventory_hostname != "node1"
    #  tags: initial_cluster
    #
