---
- name: Check port nc
  shell: |
    timeout 5 nc -zv {{ host_to_check }} {{ port_to_check }} 2>&1
  register: nc_result
  ignore_errors: yes

- name: Show raw telnet output
  debug:
    var: nc_result.stdout


# --- Detect Status ---
- name: Port open
  debug:
    msg: "Source-IP: {{ ansible_host }} Destination-IP: {{ host_to_check }}  port {{ port_to_check }}  Status: succeeded ✔️✔️✔️"
  when: nc_result.rc == 0

- name: Port closed
  debug:
    msg: "Source-IP: {{ ansible_host }} Destination-IP: {{ host_to_check }}  port {{ port_to_check }}  Status: Connection refused! ❕❕❕"
  when: nc_result.rc == 1

- name: Timeout
  debug:
    msg: "Source-IP: {{ ansible_host }} Destination-IP: {{ host_to_check }}  port {{ port_to_check }}  Status: Timeout or no response (Trying...) ❌❌❌ "
  when: nc_result.rc == 124
