workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: always
    - if: $CI_COMMIT_BRANCH
      when: always
    - when: never

variables:
  ANSIBLE_HOST_KEY_CHECKING: 'false'
  ANSIBLE_FORCE_COLOR: 'true'
  GIT_STRATEGY: clone

stages:
  - Check-TCP-Connections

Check-TCP-Connections:
  stage: Check-TCP-Connections
  image: 192.168.0.110:5050/cd/docker/ansible-custom-image:v3


  script:
    - test -n "$USERNAME" || (echo "Please provide the USERNAME variable" && exit 1)
    - test -n "$PASSWORD" || (echo "Please provide the PASSWORD variable" && exit 1)
    - cd ansible
    - REPORT="../tcp-report.csv"
    - echo "timestamp,source_host,destination_host,destination_port,status" > "$REPORT"

    - COUNT=$(jq '.targets | length' ../Destination.json)

    # Loop through all targets (host + port)
    - |
      for i in $(seq 0 $(($COUNT - 1))); do
        HOST=$(jq -r ".targets[$i].host" ../Destination.json)
        PORT=$(jq -r ".targets[$i].port" ../Destination.json)

        echo "================================================================================"
        echo "Running check for Destination IP: $HOST and Destination PORT:$PORT"
        echo "================================================================================"

        ansible-playbook -i ../Source.ini check-status.yml \
          -e "ansible_user=$USERNAME ansible_password=$PASSWORD" \
          --extra-vars "host_to_check=$HOST" \
          --extra-vars "port_to_check=$PORT" \
          --extra-vars "report_path=$REPORT" || true
      done

  artifacts:
    when: always
    expire_in: 1 hour
    paths:
      - tcp-report.csv

